Django==1.11.4
django-braces==1.11.0
django-extensions==1.8.1
djangorestframework==3.6.3
dj-database-url==0.4.2
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
huey==1.4.0
psycopg2==2.7.3
redis==2.10.6
requests==2.18.4
whitenoise==3.3.0
